#parse("/velocity/layout.vm")
#@mainLayout()
<form id='loginForm' method='post'>
#if($authenticationFailed)
        <p class="bad notification">Review not added</p>
    #elseif($authenticationSucceeded)
        <p class="good notification">Successfully submitted review!</p>
    #end
<h2>Add review for $show.title:</h2>
<label>Rating</label>
<select name="rating">
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>s
<option>5</option>
</select><br><br>
<label>Review</label>
<input type="text" name="review" placeholder="Good movie" value="" required>
#if($currentUser)
<input type="submit" value="Add Review">
#else
<input type="submit" value="Please log in to add a review." disabled>
#end
</form>
#end
