#parse("/velocity/layout.vm")
#@mainLayout()
<h1>View All Shows:</h1>
    #foreach($show in $shows)
    <div class="col">
            <a class="book">
                $show.title
                <div class="bookCover">
                    <img src="/img/$show.imageFilename" alt="$show.title">
                </div>
                #foreach($review in $reviews)
                    #if($review.showID == $show.id)
                        <li>
                            $review.username says: $review.review - $review.rating out of 5 stars.
                        </li>
                    #end
                #end
            </a>
        </div>
    #end
#end