#parse("/velocity/layout.vm")
#@mainLayout()
<h1>View All Shows:</h1>
    #foreach($show in $shows)
        #if($show.status == "Visible")
            <div class="col">
                <a class="book" href="/viewShow/$show.id">
                    $show.title
                    <div class="bookCover">
                        <img src="/img/$show.imageFilename" alt="$show.title">
                    </div>
                </a>
            </div>
        #end
    #end
    #if($currentUser.type == "Admin")
        #foreach($show in $shows)
            #if($show.status != "Visible")
                <div class="col">
                    <a class="book" href="/viewShow/$show.id">
                        ($show.status) $show.title
                        <div class="bookCover">
                            <img src="/img/$show.imageFilename" alt="$show.title">
                        </div>
                    </a>
                </div>
            #end
        #end
    #end
#end