#parse("/velocity/layout.vm")
#@mainLayout()
<h1>$msg.get("INDEX_HEADING")</h1>
<h2>$msg.get("INDEX_REGISTERED_USERS", $users.size())</h2>
<ul>
    <p>For testing without Database support</p>
    #foreach($user in $users)
        <li>$user</li>
    #end
</ul>
<p>$msg.get("INDEX_PASSWORD_INFO")</p>


<form id='loginForm' method='post'>
<label>Username</label>
<input type="text" name="username" placeholder="Username" value="" required>
<label>Password</label>
<input type="password" name="password" placeholder="Password" value="" required>
<label>Firstname</label>
<input type="password" name="firtname" placeholder="Firstname" value="" required>
<label>Lastname</label>
<input type="text" name="lastname" placeholder="Lastname" value="" required>
<label>Email</label>
<input type="text" name="email" placeholder="Email" value="" required>
<select name="Gender">
<option>Male</option>
<option>Female</option>
</select><br><br>
<label>Country</label>
<input type="text" name="country" placeholder="Country" value="" required>
<input type="submit" value="Register">
</form>

    #if($book)
    <h2>$msg.get("INDEX_MOVIE_OF_THE_DAY_TEXT")</h2>
    <div class="row row-2">
        <div class="col">
            <p>Parasite (2019)</p>
            <p>Director: Bong Joon-ho</p>
        </div>
        <div class="col">
            <img src="https://images-na.ssl-images-amazon.com/images/I/A1UTpJzoPBL._RI_.jpg" alt="Parasite Movie Poster">
        </div>
    </div>
    #end
#end
